# Virtual environment
backend/venv/
backend/.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
backend/.env

# SQLite database
backend/*.db

# Hasil build frontend
# backend/dist/

# Dataset besar
dataset/program/cleaned_programs_detailed.csv
dataset/program/programs_detailed_boostcamp_kaggle.csv

# TinyGPT binary tokenizer models
tinyGPT_temp/tokenizer_*.model
tinyGPT_temp/__pycache__/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
